.product-item-placeholders .product-item-placeholder:nth-child(1) {
    animation: product-item-placeholder 1.2s ease-in-out infinite;
}
.product-item-placeholders .product-item-placeholder:nth-child(2) {
    animation: product-item-placeholder 1.2s ease-in-out -1s infinite;
}
.product-item-placeholders .product-item-placeholder:nth-child(3) {
    animation: product-item-placeholder 1.2s ease-in-out -0.9s infinite;
}
.product-item-placeholders .product-item-placeholder:nth-child(4) {
    animation: product-item-placeholder 1.2s ease-in-out -0.8s infinite;
}
.product-item-placeholders .product-item-placeholder:nth-child(5) {
    animation: product-item-placeholder 1.2s ease-in-out -0.7s infinite;
}
.product-item-placeholders .product-item-placeholder {
    height: auto;
    width: calc(20% - 24px);
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    flex-flow: column;
    position: relative;
}

.product-item-placeholders .product-item-placeholder .content-placeholder .image-placeholder {
    height: 120px;
    width: 120px;
}

.product-item-placeholders .product-item-placeholder .content-placeholder .brand-placeholder {
    width: 20%;
    height: 15px;
    margin-top: 20px;
}

.product-item-placeholders .product-item-placeholder .content-placeholder > div {
    background-color: rgb(242, 245, 247);
}

.product-item-placeholders .product-item-placeholder .content-placeholder .title-placeholder {
    width: 50%;
    height: 7px;
    margin-top: 10px;
}

.product-item-placeholders .product-item-placeholder .content-placeholder > div {
    background-color: rgb(242, 245, 247);
}

.product-item-placeholders .product-item-placeholder .content-placeholder .price-placeholder {
    width: 60%;
    height: 7px;
    margin-top: 10px;
}

.product-item-placeholders .product-item-placeholder .content-placeholder > div {
    background-color: rgb(242, 245, 247);
}
@media screen and (max-width: 768px) {
    .product-item-placeholders .product-item-placeholder {
        width: calc(33.33333% - 26.66667px);
        float: right;
        margin-right: 20px;
    }
}
@media screen and (max-width: 480px) {
    .product-item-placeholders .product-item-placeholder {
        width: calc(100% - 40px);
        float: right;
        margin-right: 20px;
        height: 135px;
        overflow: hidden;
        display: block;
    }
    .product-item-placeholders .product-item-placeholder .content-placeholder .image-placeholder{
        height: 275px;
        width: 100%;
    }
}
@-webkit-keyframes product-item-placeholder {
    0% {
        opacity: .5;
        filter: alpha(opacity=50);
        transform: scale(1)
    }
    40% {
        opacity: .5;
        filter: alpha(opacity=50);
        transform: scale(1)
    }
    100% {
        opacity: .5;
        filter: alpha(opacity=50);
        transform: scale(1)
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform: scale(1.02)
    }
}
@-moz-keyframes product-item-placeholder {
    0% {
        opacity: .5;
        filter: alpha(opacity=50);
        transform: scale(1)
    }
    40% {
        opacity: .5;
        filter: alpha(opacity=50);
        transform: scale(1)
    }
    100% {
        opacity: .5;
        filter: alpha(opacity=50);
        transform: scale(1)
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform: scale(1.02)
    }
}